<h1>Invoice</h1>


<h2>Recipient</h2>
<div class="row">
	<table class="table col-6">
		<tr>
			<th><span contenteditable>Invoice #</span></th>
			<td><input class="form-control" type="text" placeholder="Serial Number"></td>
		</tr>
		<tr>
			<th><span contenteditable>Date</span></th>
			<td><input class="form-control" type="date" placeholder=""></td>
		</tr>
		<span class="btn btn-info mb-3" (click)="newElement()">New</span>
	</table>

</div>
<table class="table">
	<thead>
		<tr>
			<th><span contenteditable>Name</span></th>
			<th><span contenteditable>Quantity</span></th>
			<th><span contenteditable>Price</span></th>
			<th><span contenteditable>Summ</span></th>
		</tr>
	</thead>
	<tbody *ngFor="let iProduct of invoiceProducts">
		<tr>
			<td>
				<select class="form-control" id="product">
					<option *ngFor="let product of products">{{product.name}}</option>
				</select>
			</td>
			<td><input class="form-control" type="number"></td>
			<td><input class="form-control" type="number"></td>
			<td><input class="form-control" type="number"></td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-7"></div>
	<table class="table col-5">
		<tr>
			<th><span contenteditable>Total</span></th>
			<td><input class="form-control" disabled [(ngModel)]="total" name="total"></td>
		</tr>
		<tr>
			<th><span contenteditable>Amount Paid</span></th>
			<td><span contenteditable >0.00</span></td>
		</tr>
		<tr>
			<th><span contenteditable>Balance Due</span></th>
			<td><span>0.00</span></td>
		</tr>
	</table>
</div>

<aside>
