<h1>{{buyer?.id == null ? 'Add' : 'Edit'}} Buyer</h1>

<div class="bg-warning p-5" hidden>warning message placeholder</div>

<form action="some-url-goes-here" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="formBuyer.name" name="name">
    <div class="alert alert-danger" hidden>error message placeholder</div>

  </div>

  <div class="form-group">
    <label for="debt">Debt</label>
    <input type="number" class="form-control" id="debt" placeholder="0" [(ngModel)]="formBuyer.debt" name="debt">
    <div class="alert alert-danger" hidden>error message placeholder</div>

  </div>
  
  <button type="submit" class="btn btn-primary" (click)="updatebuyer()">Save</button>
</form>


