<div class="btn btn-info refresh" (click)="refresh()">Refresh</div>


<app-parking-lot-detail *ngIf="action === 'view'" [parkingLot]="selectedParkingLot" (goBackEvent)="refresh()"></app-parking-lot-detail>


<div class="row" *ngIf="action !== 'view'">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 elem" *ngFor="let parkingLot of parkingLots">
    <div class="lot-name">{{parkingLot.name}}</div>
    <div class="btn lot col-12"  [ngClass]="{'green': parkingLot.isFree,
                                            'red' : !parkingLot.isFree,
                                            'grey' : parkingLot == null}" (click)="showDetails(parkingLot.id)">
      <i class="fas fa-car" *ngIf="!parkingLot.isFree"></i>
      <i class="fas fa-parking" *ngIf="parkingLot.isFree"></i>
    </div>
  </div>
</div>

<div class="row" *ngIf="parkingLots == null">
  <h2 class="error col-12" style="text-align: center; margin-bottom: 20px;">Connection error, please contact support</h2>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 elem" *ngFor="let lot of noData">
    <div class="lot-name">{{'LOT ' + (lot < 10 ? 0 : '') + lot}}</div>
    <div class="btn lot col-12"  [ngClass]="{'grey' : parkingLot == null}">
      <i class="fas fa-ban"></i>
    </div>
  </div>
</div>
