<h1>Buyers</h1>

<a class="btn btn-warning mb-3" (click)="addBuyer()">add</a>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Debt</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let buyer of buyers">
            <td>{{buyer.id}}</td>
            <td>{{buyer.name}}</td>
            <td>{{buyer.debt}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewDetails(buyer.id)">view</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <app-buyer-details *ngIf="action === 'view'" [buyer]="selectedBuyer" (dataChangedEvent)="loadData()"></app-buyer-details>
      <app-buyer-edit *ngIf="(action === 'edit') || (action === 'add')" [buyer]="selectedBuyer" (dataChangedEvent)="loadData()"></app-buyer-edit>
    </div>
  </div>



