<div>
    <h2>Supplier details</h2>
    <a class="btn btn-small btn-warning" (click)="editSupplier()">edit</a>
    <a class="btn btn-small btn-warning" (click)="removeSupplier()">delete</a>
    <table>
      <tr>
        <td>id</td><td>{{supplier.id}}</td>
      </tr>
      <tr>
        <td>name</td><td>{{supplier.name}}</td>
      </tr>
      <tr>
        <td>country</td><td>{{supplier.country}}</td>
      </tr>
      <tr>
        <td>our debt</td><td>{{supplier.ourDebt}}</td>
      </tr>
    </table>
  </div>