<h1>Suppliers</h1>

<a class="btn btn-warning mb-3" (click)="addSupplier()">add</a>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Our Debt</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{supplier.id}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.country}}</td>
            <td>{{supplier.ourDebt}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewDetails(supplier.id)">view</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <app-supplier-details *ngIf="action === 'view'" [supplier]="selectedSupplier" (dataChangedEvent)="loadData()"></app-supplier-details>
      <app-supplier-edit *ngIf="(action === 'edit') || (action === 'add')" [supplier]="selectedSupplier" (dataChangedEvent)="loadData()"></app-supplier-edit>
    </div>
  </div>



