<div>
    <h2>Product details</h2>
    <a class="btn btn-small btn-warning" (click)="editProduct()">edit</a>
    <a class="btn btn-small btn-warning" (click)="removeProduct()">delete</a>
    <table>
      <tr>
        <td>id</td><td>{{product.id}}</td>
      </tr>
      <tr>
        <td>name</td><td>{{product.name}}</td>
      </tr>
      <tr>
        <td>price</td><td>{{product.price}}</td>
      </tr>
      <tr>
        <td>quantity</td><td>{{product.quantity}}</td>
      </tr>
    </table>
  </div>