<div class="login-form">
  <div class="container">
    <img src="assets/img/isd-logo.png" style="height: 200px; width: 200px;">
    <h1>ParKing</h1>
    <div class="box">
      <input type="text" placeholder="username">
	    <input type="password" placeholder="password">
	    <button class="btn btn-default full-width" (click)="onSubmit()"><span class="fas fa-check"></span></button>
    </div>
  </div>
</div>
