<h1>{{product?.id == null ? 'Add' : 'Edit'}} Buyer</h1>

<div class="bg-warning p-5" hidden>warning message placeholder</div>

<form action="some-url-goes-here" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="product name" [(ngModel)]="formProduct.name" name="name">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" placeholder="product price" [(ngModel)]="formProduct.price" name="price">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" id="quantity" placeholder="product quantity" [(ngModel)]="formProduct.quantity" name="quantity">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
</form>
