<div>
    <h2>Buyer details</h2>
    <a class="btn btn-small btn-warning" (click)="editBuyer()">edit</a>
    <a class="btn btn-small btn-warning" (click)="removeBuyer()">delete</a>
    <table>
      <tr>
        <td>id</td><td>{{buyer.id}}</td>
      </tr>
      <tr>
        <td>name</td><td>{{buyer.name}}</td>
      </tr>
      <tr>
        <td>debt</td><td>{{buyer.debt}}</td>
      </tr>
    </table>
  </div>