<h1>{{supplier.id == null ? 'Add' : 'Edit'}} Supplier</h1>

<div class="bg-warning p-5" hidden>warning message placeholder</div>

<form action="some-url-goes-here" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="formSupplier.name" name="name">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" placeholder="country" [(ngModel)]="formSupplier.country" name="country">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>

  <div class="form-group">
    <label for="our-debt">Our Debt</label>
    <input type="number" class="form-control" id="our-debt" placeholder="0" [(ngModel)]="formSupplier.ourDebt" name="ourDebt">
    <div class="alert alert-danger" hidden>error message placeholder</div>
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
</form>


