<h1>Products</h1>

<a class="btn btn-warning mb-3" (click)="addProduct()">add</a>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewDetails(product.id)">view</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <app-product-details *ngIf="action === 'view'" [product]="selectedProduct" (dataChangedEvent)="loadData()"></app-product-details>
      <app-product-edit *ngIf="(action === 'edit') || (action === 'add')" [product]="selectedProduct" (dataChangedEvent)="loadData()"></app-product-edit>
    </div>
  </div>



